Last login: Tue Feb  9 15:31:13 on ttys000

                        ******* WARNING *******
This is a University of Melbourne computer system. Access to this computer
system, including all related equipment, networks, and network devices
(including internet access) and electronic resources at the University of
Melbourne is restricted to employees, students, or other individuals
authorised by the University or its affiliates.

Use of this system is subject to "MPF1314 Provision and Acceptable Use of IT"
This policy can be found at https://policy.unimelb.edu.au/MPF1314
Unauthorised use is prohibited. If you do not understand this notice,
do not proceed further and contact the Service Centre on +(61 3) 834 40888.

By continuing, you acknowledge these Terms of Use and agree to use the
University of Melbourne computer facilities in accordance with this notice.
                        ***********************
                                                
(base) 6200L-143516-M:~ suswei$ ls
Applications	Downloads	Movies		Public		Zotero
Desktop		Dropbox		Music		PycharmProjects	anaconda3
Documents	Library		Pictures	README.md	miniconda2
(base) 6200L-143516-M:~ suswei$ cd PycharmProjects/
(base) 6200L-143516-M:PycharmProjects suswei$ ls
Alchemy			desingularizedMF	normalizing_flow
Glow-PyTorch		gnorm_mf		ope_worldmodels
RLCT			neural-ode		single-cell-rna-seq
anaconda3		neuro_shooting		temperature_scaling
data			neuroshooting		world-models
(base) 6200L-143516-M:PycharmProjects suswei$ cd gnorm_mf/
(base) 6200L-143516-M:gnorm_mf suswei$ ls
LICENSE				summarize.py
README.md			sweep.py
__pycache__			tanh.pgf
catplot.py			transformed
custom_lr_scheduler.py		transformed2
dataset_factory.py		transformed2_tanh.pgf
gaussian_mf.py			transformed_highlmbda
main.py				transformed_highlmbda_tanh.pgf
normalizing_flows.py		untransformed
pyvarinf			untransformed2
reducedrank.pgf			utils.py
slurmsweep.sh
(base) 6200L-143516-M:gnorm_mf suswei$ vim .gitignore 

ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.pgf
